<template>
  <div>
    <article class="message is-success">
      <div class="message-body">
        {{ rssData }}
      </div>
    </article>
  </div>
</template>

<script>
const axios = require('axios')

export default {
  data() {
    return {
      rssData: null,
      loading: true,
      isError: false,
      keywords: null,
    }
  },
  methods: {},
  mounted() {
    const port = chrome.runtime.connect()
    port.postMessage({
      from: 'popup',
      start: 'onPopup',
    })
  },
}
</script>

<style lang="scss"></style>
