<template>
  <div>
    <h1>{{ msg }}</h1>
  </div>
</template>

<script>
export default {
  data() {
    return {
      msg: 'Welcome!',
    }
  },
}
</script>

<style lang="scss">
$color: red;
</style>
